<!--The content below is not a placeholder and can't be replaced.-->
<div style="text-align:center">
  <h1>
    {{ ids | async | json }}
  </h1>
  <h1>
    {{ names | async | json }}
  </h1>
</div>
<div style="text-align:center">
  <button (click)="addBasic()">
    ADD
  </button>
  <br>
  <button (click)="removeBasic()">
    REMOVE
  </button>
  <br>
  <button (click)="negateAll()">
    NEGATE ALL
  </button>

</div>

<br><br>

<div>
  <app-starter></app-starter>
  <app-worker></app-worker>
</div>
 